body {    
    font-family: 'Open Sans', serif;
}

.siteDiv {
    width: 100%;
    display: flex;
    align-items: center;
}

.homepageDiv {
    width: 10%;
    height: 100vh;
}

.gameContent {
    width: 90%;
    padding-right: 50px;
    padding-left: 50px;
}

.homepageButton {
    width: 100%;
    height: 100vh;
    background-color: #141a29;
    border: none;
    color: #868e96;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Saira Extra Condensed', serif;

    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.homepageButton p {
    transform: rotate(90deg);

}

.homepageButton:hover {
    background-color: #1b5e6b ;
    color: #ffff;
}