body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.5rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #1b5e6b;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #141a29 !important;
}

.text-primary {
  color: #1b5e6b !important;
}

a {
  color: #1b5e6b;
}

a:hover, a:focus, a:active {
  color: #1b5e6b;
}

.devtoolicon {
  max-width: 100px;
  max-height: 100px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;

  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;

  fill: black;
}

.devtoolicon:hover {
  fill: #1b5e6b;
}

.iconGroup {
  display: flex;
  align-items: center;
}

.aboutText {
  text-transform: uppercase;
  font-weight: 250;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.25rem;
}

::-moz-selection {
  background-color: #141a29;
  color: #ffffff;
}

::selection {
  background-color: #141a29;
  color: #ffffff;
}

.icon {
  min-width: 128px;  
  max-width: 128px;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}

.center-col{
  text-align: center;
}