body {
    text-align: center;
    font-family: "Arial", "Helvetica", sans-serif;
    background-color: black;
    color: white;
}

.game{
    width: 750px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.controls{
    float: right;
    text-align: right;
}

.webGLDiv{
    float: left;

}

p {
    font-size: 12px;
    margin: 5px auto;
}

h5 {
    margin: 10px 0px 5px;
}

button {
    width: 100px;
}

.longButton{
    width: 200px;
}

.cyan{
    color: cyan;
}

.magenta{
    color: magenta;
}

.yellow{
    color: yellow;
}

button{
    background-color: black;
    color: white;
    border: 1px solid green; /* Green */
}

button:hover{
    background-color: black;
    color: white;
    border: 1px solid red; /* Green */
}

.tutorial{
    width: 750px;
    margin: 10px auto;
}

table{
    margin: 10px auto;
}

th, td {
    border: 1px solid blue;
}